@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

.container {
    font-family: 'Rowdies', sans-serif;
    background-color: #76603F;
    min-height: 100vh;
}

Button:hover {
    background-color: #76E1FF; /* Sem aspas */
}

.title {
    font-size: 48px; /* Sem aspas */
    color: #98FF68;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
