@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

.container {
    font-family: 'Rowdies', sans-serif;
    background-color: #76603F;
    min-height: 100vh;
}

Button {
    width: 100%;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    background-color: #98FF68;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1); /* Sem aspas */
    transition: all 0.3s ease-in-out;
}

Button:hover {
    background-color: #76E1FF; /* Sem aspas */
}

.title {
    font-size: 48px; /* Sem aspas */
    color: #98FF68;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
